.vis-container {
  display: flex;
  align-items: center;
}

.vis-container__main {
  flex: 1;
  text-align: center;
}

.vis-container__side-panel {
  width: 200px;
  padding: 20px;
  margin-left: auto;
}

.vis-control-group {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.vis-control-group--stacked {
  flex-direction: column;
}

.vis-control-group__item {
  margin-right: 20px;
}

.vis-control-group--stacked .vis-control-group__item {
  margin-right: 0;
  margin-bottom: 10px;
}

.vis-control {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}

.vis-control--block-label {
  flex-direction: column;
}

.vis-control__input {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -9999px;
  opacity: 0;
}

.vis-control__vis {
  margin-right: 10px;
}

.vis-control--block-label .vis-control__vis {
  margin-right: 0;
}
