.app--fixed-header {
  margin-top: 75px;
}

.header {
  display: flex;
  align-items: center;
}

.header.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #000;
}

.header.header--fixed .nav {
  height: 100%;
}

.header__title {
  margin: 0;
  color: #fff;
  font-size: 24px;
  margin-left: 20px;
}

.header__sub-title {
  margin-left: 5px;
  font-size: 12px;
}

.header .nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.header.header--fixed .nav-list {
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.nav-list__item:not(:first-of-type) {
  margin-left: 10px;
}

.nav-list__item a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.nav-list__item a:hover {
  color: #ebebeb;
  text-decoration: underline;
}

.vis-container {
  display: flex;
  align-items: center;
}

.vis-container__main {
  flex: 1;
  text-align: center;
}

.vis-container__side-panel {
  width: 200px;
  padding: 20px;
  margin-left: auto;
}

.vis-container__controls-container {
  display: flex;
}

.vis-container__date-controls {
  flex: 1;
}

.vis-container__date-controls--mobile {
  border-right: 1px solid #e4e4e4;
}

.vis-container__patient-controls {
  flex: 1;
}

.vis-control-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.vis-control-group--stacked {
  flex-direction: column;
}

.vis-control-group__item {
  width: 120px;
  margin-right: 20px;
}

.vis-control-group--stacked .vis-control-group__item {
  width: auto;
  margin-right: 0;
  margin-bottom: 10px;
}

.vis-control {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.vis-control--block-label {
  flex-direction: column;
}

.vis-control.selected {
  font-weight: bold;
}

.vis-control__input {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -9999px;
  opacity: 0;
}

.vis-control__vis {
  margin-right: 10px;
}

.vis-control--block-label .vis-control__vis {
  margin-right: 0;
}

.label {
  color: #888;
}

.vis-select {
  margin-top: 10px;
  padding: 20px 10px;
  border: 0;
}

.vis-select label {
  padding: 10px;
  color: #000;
}

.vis-select label,
.vis-select input {
  cursor: pointer;
}
